@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Library</h1>
    <p>Your Solution to a more organized, efficient, and everywhere-accessible Book Library.</p>
</div>
